.bottomSheet {
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow-y: auto;
  background-color: transparent;
}

:global(.dark) .blurOverlay {
  background-color: rgba(0, 0, 0, 0.7);
}